*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
Miniconda3-latest-Linux-x86_64.sh filter=lfs diff=lfs merge=lfs -text
train_stats_segformer/samples/epoch_1/s_0_w0000140.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer/samples/epoch_1/s_1_ww10000041.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer/samples/epoch_1/s_2_w0000411.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer/samples/epoch_1/s_3_cc0000866.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer/samples/epoch_1/s_4_mt0000169.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer/samples/epoch_2/s_0_cc0000837.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer/samples/epoch_2/s_1_cc0000991.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer/samples/epoch_2/s_2_w0000061.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer/samples/epoch_2/s_3_mt10000416.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer/samples/epoch_2/s_4_mt0000028.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_1/s_0_cc0000319.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_1/s_1_cc0000119.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_1/s_2_cc0000210.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_1/s_3_cc0000834.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_1/s_4_w0000351.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_2/s_0_mt0000286.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_2/s_1_w0000294.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_2/s_2_ww10000471.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_2/s_3_w0000002.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_2/s_4_cc0001045.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_3/s_0_w0000156.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_3/s_1_ww10000453.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_3/s_2_mt10000315.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_3/s_3_cc0000704.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_3/s_4_w0000371.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_4/s_0_mt0000054.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_4/s_1_mt0000141.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_4/s_2_mt10000211.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_4/s_3_mt10000000.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_4/s_4_w0000351.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_5/s_0_mt10000608.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_5/s_1_mt0000054.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_5/s_2_ww10000256.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_5/s_3_mt0000172.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_5/s_4_cc0001662.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_6/s_0_cc0000171.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_6/s_1_cc0000991.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_6/s_2_w0000371.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_6/s_3_cc0000341.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_6/s_4_cc0000532.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_7/s_0_w0000102.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_7/s_1_ww10000070.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_7/s_2_mt10000000.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_7/s_3_mt10000414.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_7/s_4_ww10000358.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_8/s_0_cc0000171.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_8/s_1_cc0000216.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_8/s_2_mt0000135.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_8/s_3_mt10000186.png filter=lfs diff=lfs merge=lfs -text
train_stats_segformer_adv/samples/epoch_8/s_4_w0000178.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_1/s_0_ww10000467.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_1/s_1_ww10000276.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_1/s_2_ww10000539.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_1/s_3_cc0000341.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_1/s_4_w0000350.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_10/s_0_cc0000078.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_10/s_1_cc0000875.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_10/s_2_mt0000347.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_10/s_3_mt10000499.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_10/s_4_w0000248.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_11/s_0_cc0000704.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_11/s_1_ww10000379.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_11/s_2_cc0000837.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_11/s_3_ww10000659.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_11/s_4_ww10000587.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_2/s_0_w0000161.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_2/s_1_ww10000050.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_2/s_2_cc0000315.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_2/s_3_ww10000623.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_2/s_4_w0000059.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_3/s_0_cc0001657.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_3/s_1_mt10000100.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_3/s_2_cc0000246.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_3/s_3_mt10000099.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_3/s_4_mt10000169.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_4/s_0_cc0000927.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_4/s_1_mt10000163.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_4/s_2_mt0000081.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_4/s_3_ww10000330.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_4/s_4_cc0001657.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_5/s_0_ww10000082.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_5/s_1_ww10000043.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_5/s_2_cc0000122.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_5/s_3_ww10000330.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_5/s_4_mt10000134.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_6/s_0_w0000032.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_6/s_1_w0000464.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_6/s_2_ww10000050.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_6/s_3_mt0000141.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_6/s_4_cc0000962.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_7/s_0_cc0000347.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_7/s_1_mt10000163.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_7/s_2_mt10000225.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_7/s_3_w0000343.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_7/s_4_ww10000237.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_8/s_0_cc0000745.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_8/s_1_ww10000417.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_8/s_2_mt10000068.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_8/s_3_cc0000290.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_8/s_4_mt10000258.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_9/s_0_mt0000042.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_9/s_1_mt10000324.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_9/s_2_mt0000169.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_9/s_3_ww10000223.png filter=lfs diff=lfs merge=lfs -text
train_stats_v2/samples/epoch_9/s_4_mt0000247.png filter=lfs diff=lfs merge=lfs -text
